@import './base.css';
@import "tailwindcss";
@import "tailwindcss-primeui";



/* Nossa customização global para o tema do PrimeVue.
   Isso remove o fundo branco dos componentes. */

body{
  background-color:#1e293b ;
  color:#f8fafc ;
}
.p-galleria-thumbnail-container,
.p-galleria-thumbnails,
.p-galleria-thumbnails-content {
  background-color: transparent !important;
}

/* Se for a área toda da galleria */
.p-galleria-thumbnails-container {
  background-color: #F29E6D !important;
}

/* Se for a área toda da galleria */









